{% extends 'core/index.html' %}

{% block title %}Cart | {% endblock %}

{% block content %}
    <h1 class="title">Cart</h1>
    <!-- Listing the items in the cart -->
    {% if cart %}
        <div class="box mb-6">
            <div class="table">
                <table class="table is-fullwidth is-striped">
                    <thead>
                        <th></th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                            <tr>
                                <td>
                                    <figure class="image is-64x64">
                                        <img src="{{ item.artwork.get_thumbnail }}">
                                    </figure>
                                </td>
                                <td>
                                    <a href="{% url 'artwork' item.artwork.category.slug item.artwork.slug %}">{{ item.artwork.title }}</a>
                                </td>
                                <td>
                                    {{ item.quantity }}
                                    <a href="?change_quantity={{ item.id }}&quantity=-1">-</a>
                                    <a href="?change_quantity={{ item.id }}&quantity=1">+</a>
                                </td>
                                <td>${{ item.total_price }}</td>
                                <td><a href="?remove_from_cart={{ item.id }}" class="delete">Remove</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td><strong>Total cost</strong></td>
                            <td><strong>{{ cart|length}}</strong></td>
                            <td colspan="2"><strong>${{ cart.get_total_cost }}</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- End of the items listed on the cart -->
        <!-- Start of the checkout form -->
        <div class="box">
            <h2 class="subtitle has-text-centered mt-6 mb-6" ><strong>Express Checkout</strong></h2>
                <!-- INTEGRATING PAYPAL -->
                <div class="row">
                    <div id="smart-button-container">
                        <div style="text-align: center;">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
                    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
                    <script>
                    function initPayPalButton() {
                    paypal.Buttons({
                        style: {
                            shape: 'pill',
                            color: 'black',
                            layout: 'horizontal',
                            label: 'checkout',
                            
                        },
                
                        createOrder: function(data, actions) {
                        return actions.order.create({
                            purchase_units: [{"amount":{"currency_code":"USD","value":1}}]
                        });
                        },
                
                        onApprove: function(data, actions) {
                        return actions.order.capture().then(function(details) {
                            alert('Transaction completed by ' + details.payer.name.given_name + '!');
                        });
                        },
                
                        onError: function(err) {
                        console.log(err);
                        }
                    }).render('#paypal-button-container');
                    }
                    initPayPalButton();
                    </script>
                <!-- END PAYPAL INTEGRATION CODE -->
                </div>
            </div>
        </div>    
        <!-- Check Out form for Stripe -->
        <h2 class="subtitle has-text-centered mt-6 mb-6" ><strong>OR</strong></h2>

        <div class="box">
            <h2 class="subtitle">Contact information</h2>
            <form method="post" action="." id="payment-form">
                {% csrf_token %}    
                {% if form.non_field_errors %}
                    <div class="notification is-danger">
                        {{ form.non_field_errors}}
                    </div>
                {% endif %}
                {% if form.errors %}
                    <div class="notification is-danger">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li><strong>{{ field.label }}: </strong>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="columns">
                    <div class="column is-6">
                        <div class="field">
                            <label>First name</label>
                            <div class="control">
                                <input class="input" type="text" name="first_name">
                            </div>
                        </div>
                        <div class="field">
                            <label>Last name</label>
                            <div class="control">
                                <input class="input" type="text" name="last_name">
                            </div>
                        </div>
                        <div class="field">
                            <label>E-mail</label>
                            <div class="control">
                                <input class="input" type="email" name="email">
                            </div>
                        </div>
                        <div class="field">
                            <label>Phone</label>
                            <div class="control">
                                <input class="input" type="text" name="phone">
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            <label>Address</label>
                            <div class="control">
                                <input class="input" type="text" name="address">
                            </div>
                        </div>
                        <div class="field">
                            <label>City</label>
                            <div class="control">
                                <input class="input" type="text" name="city">
                            </div>
                        </div>
                        <div class="field">
                            <label>State</label>
                            <div class="control">
                                <input class="input" type="text" name="state">
                            </div>
                        </div>
                        <div class="field">
                            <label>Zipcode</label>
                            <div class="control">
                                <input class="input" type="text" name="zipcode">
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="subtitle">Payment information</h2>
                <div id="card-element">
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="notification is-danger">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                
                <div class="field">
                    <div class="control">
                        <button class="button is-dark mt-4 is-uppercase">Checkout</button>
                    </div>
                </div>
            </div>
        </div>    
    {% else %}
        <p>No artworks in the cart yet!</p>
    {% endif %}
{% endblock %}
<!-- A Stripe Element will be inserted here -->
{% block scripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('{{ stripe_pub_key }}');
        var elements = stripe.elements();
        var card = elements.create('card');
        card.mount('#card-element');
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    stripeTokenHandler(result.token);
                }
            });
        });
        function stripeTokenHandler(token) {
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripe_token');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);
            form.submit();
        }
    </script>
{% endblock %}